@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #9ED2C6, #54BAB9);
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 

}
.container{
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #9ED2C6, #54BAB9);
}
.content form .user-details{
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{+
  width: 100%;
  margin-bottom: 15px;
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9ED2C6;
}

.modal{
  background: linear-gradient(135deg, #9ED2C6, #54BAB9);
}
.modal-button{
  color: #fff;
  background: #54BAB9;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .fav-lang-details .language-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 14px;
  width: 14px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}
 form .category label .lang-dot{
  height: 14px;
  width: 14px;
  margin-right: 10px;
  background: #d9d9d9;
  border: 2px solid #9ED2C6;
  transition: all 0.3s ease;
}
form .category label .language{
  margin-right: 10px;
}
.divider{
  margin: 25px 0 25px;
  height: 1px;
  background: #9ED2C6;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #54BAB9;
   border-color: #9ED2C6;
 }
 #lang-dot-1:checked ~ .category label .lang-one,
 #lang-dot-2:checked ~ .category label .lang-two,
 #lang-dot-3:checked ~ .category label .lang-three,
 #lang-dot-4:checked ~ .category label .lang-four,
 #lang-dot-5:checked ~ .category label .lang-five{
   background: #9ED2C6;
   border-color: #9ED2C6;
 }
 form input[type="radio"]{
   display: none;
 }
form input[type="checkbox"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #9ED2C6, #54BAB9);
 }
 form .button input:hover{
  background: linear-gradient(-135deg, #9ED2C6, #54BAB9);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
